<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MoviesManagementEntities" connectionString="metadata=res://*/MoviesManagement.csdl|res://*/MoviesManagement.ssdl|res://*/MoviesManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C6BE7CU\SQLEXPRESS;initial catalog=MOVIESMANAGEMENT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>